<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
<f:view contentType="text/html">

	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type"
			content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>[BMI Calculator]</title>

	</h:head>
	<h1>BMI Calculator</h1>
	<h2>This application is used to calculate the body mass index
		(BMI) for a person</h2>
	<h:body>


		<!-- Add your content here -->
		<h:form id="bmiForm">
			Enter your weight and your height in feet and inches
			<p:messages id="messages"></p:messages>
			<h:panelGrid columns="2">

				<h:outputLabel for="weight" value="Weight: "></h:outputLabel>
				<h:panelGroup>
					<p:inputText id="weight" value="#{bmiBean.newBMI.weight}" required="true"
						requiredMessage="Weight is required."></p:inputText>
					<h:outputLabel for="weight" value="lbs"></h:outputLabel>
				</h:panelGroup>

				<h:outputLabel for="heightFeet" value="Height: "></h:outputLabel>
				<h:panelGroup>
					<p:inputText id="heightFeet" value="#{bmiBean.newBMI.heightFeet}"
						required="true" requiredMessage="Feet are required."></p:inputText>

					<h:outputLabel for="heightInches" value="feet"></h:outputLabel>


					<h:inputText id="heightInches" value="#{bmiBean.newBMI.heightInches}"
						required="true" requiredMessage="Inches are required."></h:inputText>
					<h:outputLabel for="heightInches" value="inches"></h:outputLabel>
				</h:panelGroup>
				<p:commandButton value="Calculate BMI" ajax="false"
					actionListener="#{bmiBean.calculateBMI}"></p:commandButton>
			</h:panelGrid>
		</h:form>
		<!-- End of content area -->
	</h:body>

</f:view>

</html>