<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
<f:view contentType="text/html">

	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type"
			content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>[Loan Payment]</title>

	</h:head>

	<h:body>
		<!-- Add your content here -->
		<h1>Mortgage Payment Calculator</h1>
		<p:messages></p:messages>
		<h:form id="mortgageForm">

			<h:panelGrid columns="2">
				<h:outputLabel for="mortgageAmount" value="Mortgage Amount: $"></h:outputLabel>
				<p:inputText id="mortgageAmount" required="true"
					requiredMessage="Mortgage amount is required."
					value="#{loanBean.currentLoan.mortgageAmount}"></p:inputText>


				<h:outputLabel for="annualInterest" value="Interest Rate: "></h:outputLabel>
				<h:panelGroup>
					<p:inputText id="annualInterest" required="true"
						requiredMessage="Annual interest rate is required."
						value="#{loanBean.currentLoan.annualInterestRate}"></p:inputText>
					<h:outputLabel for="annualInterest" value="%"></h:outputLabel>
				</h:panelGroup>


				<h:outputLabel for="amortization" value="Amortization: "></h:outputLabel>
				<h:panelGroup>
					<p:inputText id="amortization" required="true"
						requiredMessage="Amortization period is required."
						value="#{loanBean.currentLoan.amortizationPeriod}"></p:inputText>
					<h:outputLabel for="amortization" value="years"></h:outputLabel>
				</h:panelGroup>

				<p:commandButton value="Calculate Mortgage" ajax="false"
					actionListener="#{loanBean.calculatePayment}"></p:commandButton>


			</h:panelGrid>

			<p:barChart id="mortgageBarChart" value="#{loanBean.mortgageChart}"
				legendPostition="ne" title="Mortgage Amortization" min="0"
				max="#{loanBean.currentLoan.mortgageAmount}" style="height:300px"></p:barChart>

		</h:form>
		<!-- End of content area -->
	</h:body>

</f:view>

</html>